.insider-trades-table {
  min-width: 700;
  margin-top: 10px;
  margin-bottom: 10px;  
}

.stocknews {  
  min-width: 700;
  margin-top: 10px;
  margin-bottom: 10px;  
}

.stock-info {
  margin-top: 20px;
}